@font-face {
  font-family: 'DS-Digital';
  src: url('../fonts/DS-DIGII.TTF') format('truetype');
  font-weight: normal;
}

body{
  background-color: rgb(42, 44, 44);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#visorRelogio{
  font-family: 'DS-Digital', Arial, Helvetica, sans-serif;
  border: 2px solid gray;
  font-size: 80px;
  text-align: center;
  margin: 0 auto;
  width: 370px;
  background-color: #000;
  color: red;
  border-radius: 20px;
  padding: 10px;
}

h2, h3{
  text-align: center;
}

#botoes{
  text-align: center;
  margin: 0 auto;
  width: 250px;
}

button {
  padding: 15px;
  background-color: #000;
  color: red;
  border: none;
  border-radius: 10px;
  font-size: 22px;
  font-family: 'DS-Digital', Arial, Helvetica, sans-serif;
}

button:focus {
  background-color: red;
  color: #fff;
  border: 1px solid red;
  outline: none;
}

#calendario {
  font-size: 40px;
  line-height: 40px;
  padding: 0;
}